<!DOCTYPE html>
<html lang="en">
<%= render partial: 'shared/assets' %>
<body>
<div id="profile-update-page" class="min-h-100 d-flex flex-column align-items-center justify-content-center">
	<div class="w-100 mb-3">
		<%= render partial: 'shared/menu', locals: {active: "user", appearance: "dark"} %>
	</div>
	<div class="row w-100 m-auto">
		<div class="col-12">
			<div class="heading text-center">
				<h4>Readersourcing 2.0</h4>
				<p class="lead mb-0">Update your profile here</p>
			</div>
		</div>
		<div class="col-lg-4 col-sm-8 col-xs-12 m-auto">
			<form id="sign-up-form" data-parsley-validate>
				<div class="row">
					<div class="col-12">
						<div class="form-group">
							<label for="first-name">First Name</label>
							<i class="ml-1 fas fa-sync-alt fa-spin reload-icon"></i>
							<input id="first-name" type="text" class="form-control" placeholder="" value="Fetching value..." required>
						</div>
					</div>
					<div class="col-12">
						<div class="form-group">
							<label for="last-name">Last Name</label>
							<i class="ml-1 fas fa-sync-alt fa-spin reload-icon"></i>
							<input id="last-name" type="text" class="form-control" placeholder="" value="Fetching value..." required>
						</div>
					</div>
					<div class="col-12">
						<div class="form-group">
							<label for="orcid">ORCID <span class="small">(e.g. 1234-1234-1234-1234)</span></label>
							<i class="ml-1 fas fa-sync-alt fa-spin reload-icon"></i>
							<input id="orcid" type="text" class="form-control" placeholder="" value="Fetching value..." data-parsley-orcid>
						</div>
					</div>
					<div class="col-12">
						<div class="form-group no-mb">
							<input id="subscribe" type="checkbox">
							<i class="mr-1 fas fa-sync-alt fa-spin reload-icon"></i>
							<label for="subscribe">Subscribe (To Emails)</label>
						</div>
					</div>
					<div class="col-12 text-center">
						<section class="errors-sect text-left">
							<div role="alert" class="alert alert-danger"></div>
						</section>
						<button type="submit" id="update-btn" class="btn btn-success w-35">
							Update
							<i id="check-icon" class="fa fa-check"></i>
							<i class="fas fa-sync-alt fa-spin reload-icon"></i>
						</button>
						<button type="button" class="btn btn-danger error-btn w-35">
							<i class="fa fa-exclamation-triangle danger-icon"></i>
							Error
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div class="row w-100 mt-3">
		<%= render partial: "shared/footer" %>
	</div>
</div>
</body>
</html>