<footer class="main-footer w-100">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-sm-10 text-lg-left text-sm-center">
				<p class="mt-3">
					<small>Readersourcing 2.0</small>
				</p>
			</div>
			<div class="col-lg-6 col-sm-10 text-lg-right text-sm-center">
				<p class="mt-3">
					<small>University of Udine - SISSA Medialab</small>
				</p>
			</div>
		</div>
	</div>
</footer>
