<div class="preloader-wrapper">
	<div class="preloader">
		<div style="color: #467fbf" class="la-ball-grid-pulse la-3x">
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
		</div>
	</div>
</div>