<h1>Gentile <%= @user.first_name %>,</h1>
<p>
	Hai assegnato con successo un giudizio pari a <i><%= @score %></i> per la pubblicazione disponibile <a href="<%= @link %>">a questo collegamento</a>.
</p>
<p>Ti ricordiamo che puoi eliminare tale giudizio in qualsiasi momento dall'interfaccia.</p>
<p>Saluti,</p>
<p>Il team di R@SM</p>