<section id="rating-sect" class="bar bg-gray-dark no-mb color-white">
	<div class="container">
		<div class="row">
			<div class="col-md-12 heading text-center">
				<h1>R@SM</h1>
				<p class="lead mb-0">Assegna un voto a questa pubblicazione.</p>
			</div>
		</div>
		<%= form_for @rating, url: load_path do |f| %>
			<div class="row">
				<div class="col-md-12 text-center">
					<%=
						f.text_field :score,
						             id: 'rating-slider',
						             "data-slider-id": "ratingSlider",
						             "data-slider-max": "100",
						             "data-slider-min": "0",
						             "data-slider-step": "1",
						             "data-slider-value": "50",
						             "data-tooltip": "hide",
						             "title": "Rating Slider"
					%>
					<br/>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 text-center mt-3">
					<h1 id="rating-text"><span id="rating-text-value">50</span></h1>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12 text-center">
					<%= button_tag(type: 'submit', id: "vote-btn", class: "btn btn-primary") do %>
						<i class="fa fa-refresh fa-spin reload-icon"></i>Vota
					<% end %>
				</div>
			</div>
		<% end %>
	</div>
</section>