<!DOCTYPE html>
<html lang="en">
<%= render partial: 'shared/assets' %>
<body class="bg-gray-dark color-white">
<div class="min-h-100 d-flex flex-column align-items-center justify-content-center">
	<div class="w-100 mb-3">
		<%= render partial: 'shared/menu', locals: {active: "rate", appearance: "light"} %>
	</div>
	<div id="loading-sect" class="row m-auto">
		<div class="col-12">
			<div class="heading text-center">
				<h4>Fetch a new publication</h4>
				<p id="check-par" class="lead mb-0">Checking if there is a fetchable publication in PDF format...</p>
			</div>
			<div class="text-center mt-3">
				<h1><i class="fas fa-sync-alt fa-spin"></i></h1>
			</div>
		</div>
	</div>
	<div id="undetected-publication-sect" class="row m-auto w-100">
		<div class="col-lg-4 col-sm-8 col-xs-12 m-auto">
			<div class="col-12">
				<div class="heading text-center">
					<h4>Fetch a new publication</h4>
					<p class="lead mb-0 text-justify">The inserted URL does not contain a rateable publication, please check it
						again.</p>
				</div>
			</div>
			<div class="col-12">
				<button type="button" id="reload-btn" class="btn btn-danger btn-block">
					<i class="fas fa-redo-alt"></i>
					Reload
				</button>
			</div>
			<div id="accordion" role="tablist" class="undetected-publication-details col-12 accordion-dark">
				<div class="card">
					<div id="headingOne" role="tab" class="card-header">
						<h5 class="mb-0">
							<a data-toggle="collapse" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne" class="color-white collapsed">View Details
								<small>(Click to toggle)</small>
							</a>
						</h5>
					</div>
					<div id="collapseOne" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion" class="collapse" style="">
						<div class="card-body">
							<div class="row">
								<section class="col-12 errors-sect text-justify">
									<div role="alert" class="alert alert-danger"></div>
								</section>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="rating-sect" class="row m-auto w-100">
		<div class="col-lg-4 col-sm-8 col-xs-12 m-auto">
			<div class="col-12">
				<div class="heading text-center mb-1">
					<h4>Rate a publication</h4>
					<p id="rating-info" class="lead mb-0 text-justify">Insert an URL to a publication encoded in a .pdf file to rate it.</p>
					<p id="rating-caption" class="lead mb-0">Use the slider below to select a rating for the current publication</p>
					<p id="rating-subcaption" class="lead mb-0">Publication rated with score</p>
				</div>
			</div>
			<div class="col-12">
				<div class="form-group">
					<label for="publication-url">Publication URL
						<span class="small">(e.g. https://arxiv.org/pdf/1812.05594.pdf)</span>
					</label>
					<form id="rate-form" data-parsley-validate>
						<input id="publication-url" type="text" class="form-control" data-parsley-type="url" required>
					</form>
				</div>
			</div>
			<div class="col-12 text-center rating-sect-sub mb-3">
				<input
					id="rating-slider"
					data-slider-id='ratingSlider'
					data-slider-min="0"
					data-slider-max="100"
					data-slider-step="1"
					data-slider-value="50"
					data-tooltip="hide"
					title="Rating Slider"
					/>
			</div>
			<div class="col-12 m-auto text-center rating-sect-sub">
				<h1 id="rating-text"><i class="fas fa-sync-alt fa-spin"></i></h1>
			</div>
			<div class="col-12 m-auto rating-sect-sub text-center">
				<section class="errors-sect text-left">
					<div role="alert" class="alert alert-danger"></div>
				</section>
				<button type="button" id="load-rate-btn" class="btn btn-primary">
					<i class="fas fa-sync-alt fa-spin"></i>
				</button>
				<button type="button" id="vote-btn" class=" w-35 btn btn-success m-auto">
					<i class="fas fa-sync-alt fa-spin reload-icon"></i>
					Rate
				</button>
				<button data-toggle="modal" data-target="#modal-configuration" id="configure-btn"
				   class="btn btn-primary link-white" data-turbolinks="false">
					<i class="fas fa-cog"></i>
				</button>
				<button type="button" id="vote-success-btn" class="btn btn-success w-35">
					<i class="fas fa-sync-alt fa-spin reload-icon"></i>
					Rating saved
				</button>
				<button type="button" class="btn btn-danger error-btn w-35">
					<i class="fa fa-exclamation-triangle danger-icon"></i>
					Error
				</button>
			</div>
			<div id="buttons-caption" class="col-12 m-auto rating-sect-sub">
				<div class="col-12 text-center mt-3">
					<p class="lead mb-3">Save for later</p>
				</div>
			</div>
			<div class="col-12 mt-auto ml-auto mr-auto mb-3 text-center rating-sect-sub">
				<section class="errors-sect text-left">
					<div role="alert" class="alert alert-danger"></div>
				</section>
				<button type="button" id="load-save-btn" class="btn btn-primary m-0">
					<span>Loading...</span>
					<i class="fas fa-sync-alt fa-spin"></i>
				</button>
				<button type="button" id="save-btn" class="btn btn-primary w-35 m-0">
					<span>Download</span>
					<i class="fas fa-sync-alt fa-spin reload-icon"></i>
				</button>
				<a href="#" id="download-btn" class="btn btn-primary link-white w-35" target="_blank">
					Open
				</a>
				<button id="refresh-btn" class="btn btn-primary link-white">
					<i class="fas fa-sync-alt"></i>
				</button>
				<button type="button" id="error-btn" class="btn btn-danger w-35 error-btn m-0">
					<i class="fa fa-exclamation-triangle danger-icon"></i>
					Error
				</button>
			</div>
		</div>
	</div>
	<div class="row m-auto w-100">
		<div class="col-lg-4 col-sm-8 col-xs-12 m-auto">
			<div class="col-12">
				<div class="heading text-center mb-1">
					<h4>Automatic extraction</h4>
					<p class="lead mb-0 text-justify">Upload here your link-annotated publication to extract the rating URL.</p>
				</div>
			</div>
			<div class="col-12">
				<form action="<%= extract_publications_path(format: :json) %>" id="annotated-publication-dropzone" class="dropzone border-primary">
					<div class="dz-default dz-message text-center pt-1">
						<br/><i class="fas fa-upload fa-2x"></i><br/>.pdf file
					</div>
				</form>
			</div>
			<div class="col-12 mt-3 ml-auto mr-auto mb-auto">
				<div role="alert" id="dropzone-success" class="alert alert-success"></div>
			</div>
			<div class="col-12 m-auto text-center">
				<a href="" id="go-to-rating-btn" target="_blank" class="btn btn-primary w-35 link-white">
					Rating Page
					<i class="fas fa-arrow-right"></i>
				</a>
			</div>
			<div class="col-12 mt-2">
				<div role="alert" id="dropzone-error" class="alert alert-danger color-red-dark mb-2"></div>
			</div>
		</div>
	</div>
	<div class="row w-100 mt-3">
		<%= render partial: "shared/footer" %>
	</div>
</div>
<div id="modal-configuration" tabindex="-1" role="dialog" aria-labelledby="modal-profile-label" aria-hidden="true"
     class="modal fade">
	<div role="document" class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 id="modal-options-label" class="modal-title color-dark">Rating Config</h4>
				<button type="button" data-dismiss="modal" aria-label="Close" class="close"><span
					aria-hidden="true">X</span></button>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-12 text-center pt-2">
						<input class="form-check-input m-auto" type="checkbox" value="" id="anonymize-check">
						<label class="form-check-label color-dark" for="anonymize-check">
							<strong>Anonymize</strong>
						</label>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<div class="row m-auto w-100">
					<div class="col-12 p-0 text-center">
						<button type="button" id="configuration-save-btn" class="btn btn-success w-35">
							Save
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="modal-refresh" tabindex="-1" role="dialog" aria-labelledby="modal-refresh-label" aria-hidden="true"
     class="modal fade">
	<div role="document" class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 id="modal-refresh-label" class="modal-title color-dark">Refresh</h4>
				<button type="button" data-dismiss="modal" aria-label="Close" class="close"><span
					aria-hidden="true">X</span></button>
			</div>
			<div class="modal-body">
				<div class="col-12 text-center color-dark">
					<strong>Click Below To Refresh</strong>
				</div>
			</div>
			<div class="modal-footer">
				<div class="row w-100 m-auto">
					<div class="col-12 p-0 text-center">
						<button type="button" id="modal-refresh-btn" class="btn btn-success w-35">
							Okay!
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="modal-allow" tabindex="-1" role="dialog" aria-labelledby="modal-allow-label" aria-hidden="true"
     class="modal fade">
	<div role="document" class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 id="modal-allow-label" class="modal-title color-dark">About your download</h4>
				<button type="button" data-dismiss="modal" aria-label="Close" class="close"><span
					aria-hidden="true">X</span></button>
			</div>
			<div class="modal-body">
				<div class="col-12 text-center">
					<div role="alert" class="alert alert-danger">
						Please, allow <strong>popups</strong> on this website for a smoother download experience.
						Otherwise, <strong>you can use the "Open" button to download your link-annotated publication.</strong>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<div class="row w-100 m-auto">
					<div class="col-12 p-0 text-center">
						<button type="button" id="modal-allow-btn" class="btn btn-primary w-35">
							Okay!
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>