<h1>Gentile <%= @user.first_name %>,</h1>
<p>
	La tua password è stata resettata con successo. Quella nuova è: <strong><%= @new_password %></strong>
</p>
<p>Ti raccomandiamo di modificarla al primo accesso utile. </p>
<p>Il team di R@SM</p>