/* ////////// TOP BUTTONS  ////////// */

#buttons-sect .btn-group button {
    width: 100%;
}

/* ////////// ALERT BOXES ////////// */

.alert-dismissible {
    font-size: 0.9rem;
}

.alert-dismissible li {
    list-style-type: decimal;
}

/* ////////// PARSLEY MESSAGES  ////////// */

input.parsley-success, select.parsley-success, textarea.parsley-success {
    color: #468847;
    background-color: #DFF0D8;
    border: 1px solid #D6E9C6;
}

input.parsley-error, select.parsley-error, textarea.parsley-error {
    background-color: #F2DEDE;
    border: 1px solid #EED3D7;
}

.parsley-errors-list {
    list-style-type: none;
    opacity: 0;
    padding-left: 0;
    margin-top: 0.5rem;
    font-size: 0.9rem;
    color: #555;
    transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
}

.parsley-errors-list li {
	background-color: #f8d7da !important;
	border-color: #f5c6cb !important;
	color: #B94A48 !important;
	text-align: left !important;
	padding: 5px;
}

.parsley-errors-list.filled {
    opacity: 1 !important;
}

/* ////////// FORM STYLING ////////// */

.form-control-light {
	color: #555 !important;
}