/* ////////// GENERAL ////////// */

body, html {
	height: 100%;
}

.min-h-100 {
 min-height: 100%;
}

.w-49 {
	width: 49% !important;
}

.w-74 {
	width: 74% !important;
}

.w-24 {
	width: 24% !important;
}

footer {
	padding-top: 0 !important;
}

footer p {
	color: white !important;
}

.main-footer {
	background: #333 !important;
}

div.copyrights {
	margin-top: 0 !important;
}

h4, .lead {
	font-size: 18px !important;
}

button, a, div, label {
	font-size: 14px !important;
}

p {
	font-size: 19px !important;
}

.centered {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-35%, -50%);
}

.bar-tb {
	padding-top: 60px;
	padding-bottom: 1rem;
}

.color-dark {
	color: #212529 !important;
}

.box-simple {
	border: 1px solid white !important;
}

.btn:active, .link-white {
	color:white !important;
}

/* ////////// ERRORS  ////////// */

#errors-sect ul {
	margin-bottom: 0;
}

/* ////////// TOP BUTTONS  ////////// */

#buttons-sect .btn-group button {
	width: 100%;
}

/* ////////// ALERT BOXES ////////// */

.alert-dismissible {
	font-size: 0.9rem;
}

.alert-dismissible li {
	list-style-type: decimal;
}

/* ////////// PARSLEY MESSAGES  ////////// */

input.parsley-success, select.parsley-success, textarea.parsley-success {
	color: #468847;
	background-color: #DFF0D8;
	border: 1px solid #D6E9C6;
}

input.parsley-error, select.parsley-error, textarea.parsley-error {
	color: #B94A48;
	background-color: #F2DEDE;
	border: 1px solid #EED3D7;
}

.parsley-errors-list {
	list-style-type: none;
	opacity: 0;
	padding-left: 0;
	margin-top: 0.5rem;
	font-size: 0.9rem;
	color: #555;
	transition: all .3s ease-in;
	-o-transition: all .3s ease-in;
	-moz-transition: all .3s ease-in;
	-webkit-transition: all .3s ease-in;
}

.parsley-errors-list li {
	color: #B94A48;
}

.parsley-errors-list.filled {
	opacity: 1;
}


/*----------------------- Preloader -----------------------*/

body.preloader {
	overflow: hidden;
}

.preloader-wrapper {
	height: 100%;
	width: 100%;
	background: #565656;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999999;
}

.preloader-wrapper .preloader {
	position: absolute;
	top: 50%;
	left: 47.5%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 120px;
}