/* ////////// GENERAL ////////// */

body, html {
	height: 100%;
}

.min-h-100 {
	min-height: 100%;
}

.w-49 {
	width: 49% !important;
}

.w-35 {
	width: 35% !important;
}

.w-74 {
	width: 74% !important;
}

.w-24 {
	width: 24% !important;
}

hr.separator {
	height: 2px;
	background: #467fbf;
}

footer {
	padding-top: 0 !important;
}

footer p {
	color: white !important;
}

.main-footer {
	background: #333 !important;
}

div.copyrights {
	margin-top: 0 !important;
}

h4, .lead {
	font-size: 18px !important;
}

blockquote, .lead a {
	font-size: 18px !important;
}

button, a, label {
	font-size: 14px !important;
}

p {
	font-size: 19px !important;
}

.centered {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-35%, -50%);
}

.bar-tb {
	padding-top: 60px;
	padding-bottom: 1rem;
}

.color-dark {
	color: #212529 !important;
}

.color-red-dark {
	color: #721c24 !important;
}

.color-red {
	color: #CC0000 !important;
}

.color-white {
	color: #fff !important;
}

.errors-sect ul {
	margin-bottom: 0 !important;
}

.box-simple {
	border: 1px solid white !important;
}

.btn:active, .link-white {
	color: white !important;
	text-decoration: none !important;
}

body.bg-gray-dark input {
	border: 1px solid #0087F7;
}

/* ////////// TABLES ///////// */

.empty-cell {
	background-color: rgba(0, 0, 0, 0.075) !important;
}

/* ////////// MENU  ////////// */

#reload-fake-menu-item a {
	position: relative;
	right: 3%;
	color: #555;
}

#navbar .menu-large .megamenu {
	width: fit-content !important;
}

#user-menu-item .logged {
	left: 53.34% !important;
}

#rated-items-menu-item .logged {
	left: 38.45% !important;
}

@media (max-width: 991px) {
	#navbar .menu-large .megamenu {
		width: 100% !important;
	}

	#navbar .menu-large .megamenu li a {
		text-align: center !important;
	}
}

#about-menu-item .megamenu {
	left: 33.8% !important;
}

#about-menu-item .logged {
	left: 47.4% !important;
}

/* ////////// ERRORS  ////////// */

#errors-sect ul {
	margin-bottom: 0;
}

/* ////////// TOP BUTTONS  ////////// */

#buttons-sect .btn-group button {
	width: 100%;
}

/* ////////// ALERT BOXES ////////// */

.alert-dismissible {
	font-size: 0.9rem;
}

.alert-dismissible li {
	list-style-type: decimal;
}

/* ////////// PARSLEY MESSAGES  ////////// */

input.parsley-success, select.parsley-success, textarea.parsley-success {
	color: #468847;
	background-color: #DFF0D8;
	border: 1px solid #D6E9C6;
}

input.parsley-error, select.parsley-error, textarea.parsley-error {
	color: #B94A48;
	background-color: #F2DEDE;
	border: 1px solid #EED3D7;
}

.parsley-errors-list {
	list-style-type: none;
	opacity: 0;
	padding-left: 0;
	margin-top: 0.5rem;
	font-size: 0.9rem;
	color: #555;
	transition: all .3s ease-in;
	-o-transition: all .3s ease-in;
	-moz-transition: all .3s ease-in;
	-webkit-transition: all .3s ease-in;
}

.parsley-errors-list li {
	color: #B94A48;
}

.parsley-errors-list.filled {
	opacity: 1;
}

.turbolinks-progress-bar {
	box-shadow: 0 8px 6px -6px black;
}