/* ////////// GENERAL ////////// */

.form-check-label {
	position: relative;
	bottom: 5%;
}

.parsley-errors-list li {
	color: indianred !important;
}

.readersourcing-score:hover, .readersourcing-score:active {
	background-color: #467fbf !important;
	border: 1px solid rgb(70, 127, 191) !important;
}