/* ////////// GENERAL ////////// */

.form-check-label {
	position: relative;
	left: 4%;
	bottom: 15%;
}

.parsley-errors-list li {
	color: indianred !important;
}

/* ////////// DROPZONE ////////// */

#annotated-publication-dropzone {
	background: url(texture-bw.png) center center repeat !important;
}

.dropzone {
	border: 1px solid #0087F7;
	background: white;
	color: #212529;
	padding: 0 !important;
}

.dropzone .dz-message {
	font-weight: 400;
}

.dropzone .dz-message .note {
	font-size: 0.8em;
	font-weight: 200;
	display: block;
	margin-top: 1.4rem;
}

.dropzone .dz-image {
	width: 100% !important;
	background: transparent !important;
}

.dropzone .dz-details {
	padding: 1em 0.5em !important;
	background: transparent !important;
}

.dropzone .dz-size {
	margin-bottom: 3.55em !important;
}

.dropzone .dz-error-message {
	width: 75% !important;
	position: absolute !important;
	left: 15% !important;
}

.dropzone .dz-error-mark svg path {
	fill: #FF0000
}

.dropzone .dz-success-mark svg path {
	fill: #00ff00;
}

.dropzone .dz-filename {
	width: 50% !important;
	position: absolute !important;
	left: 25% !important;
}


.dropzone .dz-image img {
	margin: auto;
	width: 75%;
}

.dropzone .dz-preview {
	width: 95%;
	margin: 16px;
}