/* ////////// GENERAL ////////// */

.form-check-label {
	position: relative;
	left: 4%;
	bottom: 15%;
}

.parsley-errors-list li {
	color: indianred !important;
}

.readersourcing-score:hover, .readersourcing-score:active {
	background-color: #467fbf !important;
	border: 1px solid rgb(70, 127, 191) !important;
}

.accordion-dark .card {
	background-color: rgb(85, 85, 85) !important;
	border: 0 !important;
}

.accordion-dark .card-header {
	background-color: rgb(85, 85, 85) !important;
	border: 0 !important;
	padding-left: 0 !important;
}

.accordion-dark .card-header a {
	text-decoration: none !important;
}

.accordion-dark .card-body {
	padding: 0 !important;
}

/* ////////// DROPZONE ////////// */

#annotated-publication-dropzone {
	background: url(texture-bw.png) center center repeat !important;
}

.dropzone {
	border: 1px solid #0087F7;
	background: white;
	color: #212529 !important;
	padding: 0 !important;
	min-height: 115px !important;
}

.dropzone .dz-preview {
	margin: 0 0 0 3% !important;
}

.dropzone .dz-message {
	font-weight: 400;
	margin: 0 !important;
}

.dropzone .dz-message .note {
	font-size: 0.8em;
	font-weight: 200;
	display: block;
	margin-top: 1.4rem;
}

.dropzone .dz-image {
	width: 100% !important;
	background: transparent !important;
}

.dropzone .dz-details {
	padding: 1em 0.5em !important;
	background: transparent !important;
}

.dropzone .dz-size {
	margin-bottom: 3.55em !important;
}

.dropzone .dz-error-message {
	display: none !important;
}

.dropzone .dz-error-mark svg path {
	fill: #FF0000
}

.dropzone .dz-success-mark svg path {
	fill: #00ff00;
}

.dropzone .dz-filename {
	width: 50% !important;
	position: absolute !important;
	left: 25% !important;
}

.dropzone .dz-image img {
	margin: auto;
	width: 75%;
}

.dropzone .dz-preview {
	width: 95%;
	margin: 16px;
}

.dropzone .dz-preview.dz-success .dz-success-mark {
	opacity: 1 !important;
	-webkit-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1) !important;
	-moz-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1) !important;
	-ms-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1) !important;
	-o-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1) !important;
	animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1) !important;
}