/* ////////// GENERAL SECTION ////////// */

body, html {
    background-color: rgb(85, 85, 85);
}

h4 {
	font-size: 1.15rem !important;
}

.lead {
	font-size: 1.15rem !important;
}

/* ////////// VOTE SLIDER SECTION ////////// */

#rating-slider .slider-selection {
    background: white;
}

.slider-handle {
    background-image: -webkit-linear-gradient(top, #467fbf 0%, #467fbf 100%) !important;
    background-image: -o-linear-gradient(top, #467fbf 0%, #467fbf 100%) !important;
    background-image: linear-gradient(to bottom, #467fbf 0%, #467fbf 100%) !important;
}

/* ////////// ANONYMIZE CHECK SECTION ////////// */

#anonymize-check {
	position: relative;
	top: 1px;
}

input {
	color: black !important;
}
