/* ////////// GENERAL ////////// */

.form-check-label {
	position: relative;
	left: 4%;
	bottom: 15%;
}

.parsley-errors-list li {
	color: indianred !important;
}

.dropzone {
	border: 3px dashed #0087F7;
	background: white;
	color: #212529;
}

.dropzone .dz-message {
	font-weight: 400;
}

.dropzone .dz-message .note {
	font-size: 0.8em;
	font-weight: 200;
	display: block;
	margin-top: 1.4rem;
}