<!DOCTYPE html>
<html lang="en">
<%= render partial: 'shared/assets' %>
<body>
<div class="min-h-100 d-flex flex-column align-items-center justify-content-center">
	<div class="w-100 mb-3">
		<%= render partial: 'shared/menu', locals: {active: "bug", appearance: "dark"} %>
	</div>
	<div class="row w-100 m-auto">
		<div class="col-12">
			<section id="success-sect" class="col-lg-4 col-sm-10 col-xs-12 m-auto p-0">
				<div role="alert" class="alert alert-success"></div>
			</section>
			<div class="heading text-center">
				<h4>Readersourcing 2.0</h4>
				<p class="lead mb-0">Describe what happened</p>
			</div>
		</div>
		<div class="col-lg-4 col-sm-10 col-xs-12 m-auto">
			<form id="bug-form" data-parsley-validate>
				<div class="row">
					<div class="col-12">
						<div class="form-group">
							<label for="email">Your Email <span class="small">(e.g. address@example.com)</span></label>
							<input id="email" type="text" class="form-control" placeholder="" data-parsley-type="email" required>
						</div>
					</div>
					<div class="col-12">
						<div class="form-group">
							<label for="message">Message</label>
							<textarea
								id="message"
								name="message"
								class="form-control"
								data-parsley-trigger="keyup"
								data-parsley-minlength="20"
								data-parsley-maxlength="200"
								data-parsley-minlength-message="You need to enter at least a 20 character comment"
								data-parsley-validation-threshold="10"
								required
							>
							</textarea>
						</div>
					</div>
					<div class="col-12 pt-1">
						<p class="text-sm text-center">
							<small>Your bug report will be sent to an administrator</small>
						</p>
					</div>
					<div class="col-12 text-center">
						<section class="errors-sect text-left">
							<div role="alert" class="alert alert-danger"></div>
						</section>
						<button type="submit" id="do-bug-btn" class="btn btn-success w-35">
							Send
							<i id="message-icon" class="fas fa-envelope"></i>
							<i class="fas fa-sync-alt fa-spin reload-icon"></i>
						</button>
						<button type="button" class="btn btn-danger error-btn w-35">
							<i class="fa fa-exclamation-triangle danger-icon"></i>
							Error
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div class="row w-100 mt-3">
		<%= render partial: "shared/footer" %>
	</div>
</div>
</body>
</html>