<section id="login-sect" class="bar bg-gray-dark color-white">
	<div class="container">
		<div class="row">
			<div class="col heading text-center">
				<h4>Readersourcing 2.0</h4>
				<p class="lead mb-0">Welcome, choose your action</p>
			</div>
		</div>
		<div class="row">
			<div class="col-2 m-auto">
				<a href="" id="login-btn" class="btn btn-primary btn-block">
					Login
					<i id="sign-in-icon" class="fa fa-sign-in"></i>
					<i class="fa fa-refresh fa-spin reload-icon"></i>
				</a>
			</div>
		</div>
		<div class="row">
			<div class="col text-center mt-3">
				<p class="lead mb-3">Otherwise</p>
			</div>
		</div>
		<div class="row">
			<div class="col-2 m-auto">
				<a href="registration.html" id="sign-up-btn" class="btn btn-primary btn-block">
					Sign Up
					<i id="sign-up-icon" class="fa fa-user-plus"></i>
					<i class="fa fa-refresh fa-spin reload-icon"></i>
				</a>
			</div>
		</div>
	</div>
</section>
<%= javascript_include_tag "application" %>