<footer class="main-footer">
	<div class="copyrights">
		<div class="container">
			<div class="row">
				<div class="col-4 text-left">
					<p><small>Readersourcing 2.0</small></p>
				</div>
				<div class="col-8 text-right">
					<p><small>University of Udine © 2018</small></p>
				</div>
			</div>
		</div>
	</div>
</footer>