<!DOCTYPE html>
<html lang="it">
<head>
	<%= csrf_meta_tags %>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,700">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
	<%= stylesheet_link_tag 'application' %>
	<title>RS_Server</title>
</head>
<body>
<%= yield %>
<footer class="main-footer fixed-bottom">
	<div class="copyrights">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 text-center-md">
					<p>Readersourcing 2.0</p>
				</div>
				<div class="col-lg-8 text-right text-center-md">
					<p>University of Udine © 2018.</p>
				</div>
			</div>
		</div>
	</div>
</footer>
</body>
</html>
